
    <table class="table">
        <!-- <tr>
            <th colspan="2" class="alert alert-success">Schedule Case</th>
        </tr> -->
        <tr>
            <td colspan="1">Inspection Time</td>
            <td colspan="2">
                <input class="form-control"
                ng-model-options="{ updateOn: 'blur' }"
                placeholder="Select inspection time"
                ng-model="inspectionCase.inspectionTimeModel"
                moment-picker="inspectionCase.inspectionTime"
                >
            </td>
        </tr>
        <tr>
          <td colspan="1">
            Assign Agent
          </td>
          <td colspan="1">
            <input  type="text" class="form-control " placeholder="Search by contact" ng-model="agentFilter" ng-required="true" ng-change="checkAgentContact()" ng-blur="verifyAgentContact()" maxlength="10"/>
          </td>
          <td colspan="1">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#nearbyAgentList">Agent List</button>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#nearByAgentPlot">Agent Map Locations</button>
          </td>
        </tr>
        <tr>
            <td colspan="3">
                <!-- <div id='search-input'>
                        <input id="pac-input" class="form-control" placeholder="Search your location" />

                    </div> -->
                    <div id="nearbyAgentList" class="collapse">
                      <table class="table" ng-cloak>
                        <tr>
                          <th>Agent Id</th>
                          <th>Name</th>
                          <th>Contact</th>
                          <th>Status</th>
                          <th>Assign</th>
                        </tr>
                        <tr ng-repeat="agent in agentList | filter:agentFilter">
                          <td>{{agent.id}}</td>
                          <td>{{agent.firstName}} {{agent.lastName}}</td>
                          <td>{{agent.contactNumber}}</td>
                          <td>{{agent.status}}</td>
                          <td><button type="button" ng-disabled="agentAssignedId == agent.id" class="btn btn-sm btn-default" ng-click="assignAgent(agent.id)">Assign</button></td>
                        </tr>
                      </table>
                    </div>
                    <div id="nearByAgentPlot" class="collapse">
                      <div id="map" style="min-height: 100px;"></div>
                    </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right">
                <button class="btn btn-primary" ng-click="scheduleCase()">Schedule Case</button>
            </td>
        </tr>
    </table>
