<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">All Cases</h3>
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="goToCreateCaseAgent()">
				CreateCase
			</button>
		</div>
	</div>
	<div class="panel-body">
		<ul class="list-group" ng-if="allCases.length==0">
			<li class="list-group-item">No Cases Present.</li>
		</ul>

		<div class="" ng-if="allCases.length>0">
			<!--  <div class="row">
				<div class="col-md-4">
					<div ng-cloak>
						<md-input-container class="md-block"> <label>Search</label>
						<input ng-model="filter.agent"> </md-input-container>
					</div>
				</div>
			</div>  -->
			<div class="row">
				<div class="col-md-12">
					<div ng-cloak>
						<md-table-container>
						<table md-table md-row-select="options.rowSelection"
							multiple="{{options.multiSelect}}" ng-model="selected"
							md-progress="promise">
							<thead ng-if="!options.decapitate" md-head md-order="query.order"
								md-on-reorder="logOrder">
								<tr md-row>
									<th md-column></th>
									<th md-column><span>CASEID</span></th>
									<th md-column><span>VEHICLE NO.</span></th>
									<th md-column><span>CUST.PHONE</span></th>
									<!-- <th md-column><span></span></th> -->
								</tr>
							</thead>
							<tbody md-body>
								<tr md-row md-select="agent" md-on-select="logItem"
									md-auto-select="options.autoSelect"
									ng-repeat="cases in allCases | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
									<td md-cell>{{$index + 1}}</td>
									<td md-cell>{{cases.id}}</td>
									<td md-cell>{{cases.vehicleNumber}}</td>
									<td md-cell>{{cases.customerPhoneNumber}}</td>
								</tr>
							</tbody>
						</table>
						</md-table-container>

						<md-table-pagination md-limit="query.limit"
							md-limit-options="limitOptions" md-page="query.page"
							md-total="{{agentList.length}}"
							md-page-select="options.pageSelect"
							md-boundary-links="options.boundaryLinks"
							md-on-paginate="logPagination"></md-table-pagination>
					</div>
				</div>
			</div>


		</div>

	</div>


	<div id="agent-actions" class="modal fade" tabindex="-1" role="dialog"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Update agent details</h4>
				</div>
				<div class="modal-body" style="padding: 0px;"></div>
			</div>
		</div>
	</div>


</div>
