<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h3 class="panel-title" style="text-align:center">Home</h3>
	</div>
	 <div class="panel-body">
		<section layout="column">
			<button class="btn btn-primary" flex="100" ng-click="goToCreateCase()">
			<i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;
			Create Case</button>
		</section>
		<br>
		<section layout="column">
			<button class="btn btn-primary" flex="100" ng-click="goToScheduleCase()">
			<i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;
			Schedule Case</button>
		</section>
		<br>
		<section layout="column">
			<button class="btn btn-primary" flex="100" ng-click="goToMyCases()">
			<i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;
			My Cases</button>
		</section>
	</div>
</div>