<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<md-content>
				<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="All Cases"> 
					<md-content class="md-padding">
						<!-- form to get results -->
						<form name="allcases_search_form" ng-submit="getCaseDetails()">
							<div class="row">
								<div class="col-md-2">
									<div class="form-group has-feedback">
									<input type="text" class="form-control" placeholder="Case ID" ng-model="getCaseDetailsModel.case_id" />
									<i class="glyphicon glyphicon-user form-control-feedback"></i>
									</div>
								</div>
								<div class="col-md-2">
										<div class="form-group has-feedback">
										<input type="text" class="form-control" placeholder="Vehicle ID" ng-model="getCaseDetailsModel.vehicle_id" />
										<i class="glyphicon glyphicon-bed form-control-feedback"></i>
										</div>
								</div>
								<div class="col-md-2">
									<div class="form-group has-feedback">
									<input type="number" class="form-control" placeholder="Customer Phone" ng-model="getCaseDetailsModel.customer_phone" />
									<i class="glyphicon glyphicon-earphone form-control-feedback"></i>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group has-feedback">
									<input type="number" class="form-control" placeholder="Reuester Phone" ng-model="getCaseDetailsModel.requester_phone" name="vehicle_number" />
									<i class="glyphicon glyphicon-earphone form-control-feedback"></i>
									</div>
								</div>
								<div class="col-md-3">
									<div>
									<button class="btn btn-primary" type="submit"  >Search</button>
									</div>
								</div>
							</div>
						</form>
						<!-- End of form -->
						<table ng-table="allCasesTable" class="table table-striped table-bordered table-hover">
							<tr ng-repeat="case in data">
								<td data-title="'Case ID'" >{{case.id}}</td>
								<td data-title="'Inspection By'">
									<p ng-switch on="case.inspectionType">
										<span ng-switch-when="ASSIGN_TO_CUSTOMER"> Customer </span> <span
											ng-switch-when="SELF_INSPECT"> Agent </span>
									</p>
								</td>
								<td data-title="'Vehicle Number'">
									<i class="fa fa-bus" aria-hidden="true"></i> 
									{{case.vehicleNumber}}
								</td>
								<td data-title="'Cust Phone'">
										<a href="tel:{{case.customerPhoneNumber}}">
											<i class="fa fa-phone" aria-hidden="true"></i> 
											{{case.customerPhoneNumber}}
										</a>
								</td>

					<td data-title="'Agent Phone'">
						<a href="tel:{{case.requestorPhoneNumber}}">
							<i class="fa fa-phone" aria-hidden="true"></i>
							{{case.requestorPhoneNumber}}
						</a>
					</td>
					<td data-title="'Stage'">
						<p ng-switch on="case.currentStage">
							<span ng-switch-when="-1"> <span
								class="label label-danger">Closed</span>
							</span> <span ng-switch-when="3"> <span
								class="label label-warning">Scheduled</span>
							</span> <span ng-switch-when="4"> <span
								class="label label-primary">QC Review</span>
							</span> <span ng-switch-when="5"> <span
								class="label label-success">Completed</span>
							</span>
						</p>
					</td>
					<td data-title="'Inspection Time'">{{case.inspectionTime |
						date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td data-title="'Remark'" ><b>{{case.remark!=null?case.remark:'NA'}}</b></td>
					<td data-title="'Actions'" style="min-width: 120px;">
						<button title='Reopen Case for QC' class="btn btn-xs btn-warning"
							ng-click="reopenCaseForQC(case)">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</button> <a title='Download Report'
						href="util/cases/download-report/?case_id={{case.id}}"
						target='_blank' style="display: inline-block;"><button
								class="btn btn-xs btn-primary  glyphicon glyphicon-file"></button></a>
						<a title="Download uploaded zip" class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-photos/{{case.downloadKey}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<button title="Mail reports" class="btn btn-xs btn-info"
							ng-click="sendReport(case.id)">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</button> <a title="View images" class="btn btn-xs btn-info"
						href="preview-images/{{case.downloadKey}}" target="_blank">P</a>
					</td>
					<td data-title="'Comments'" ng-click="showComments(case)">
						{{case.countComments}}</td>

				</tr>
			</table>
			
			</md-content> </md-tab> </md-tabs> </md-content>
		</div>
	</div>
</div>


<div id="manual-qc-container" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Reopen Case for QC</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>


<div id="manual-qc-container3" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Comments</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>


<div id="reopen-case-container" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Reopen Case for Inspection</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>