<div class="panel panel-default">
    <div class="panel-heading clearfix">
       <h3 class="panel-title">All Customers</h3>
       <div class="pull-right">
          <button class="btn btn-primary" ng-click="goToCreateCase()"  >Create Case</button>
       </div>
    </div>
    <div class="panel-body">

      <ul class="list-group" ng-if="agentList.length==0">
        <li class="list-group-item">No Customer Present.</li>
      </ul>

      <div class="" ng-if="agentList.length>0">
        <div class="row">
          <div class="col-md-4">
            <div ng-cloak>
              <md-input-container class="md-block">
                <label>Search</label>
                <input ng-model="filter.agent">
              </md-input-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div ng-cloak>
              <table class="table table-striped">
                <thead>
                  <tr>
                      <th></th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Branch ID </th>
                    <th>Branch </th>
                    <th>Division</th>
                    <th>Status</th>
                    <!-- <th> Branch ID <b>|</b> Branch <b>|</b> Division</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="customer in customerList | filter: filter.customer">
                    <td>{{$index + 1}}</td>
                    <td>{{agent.firstName}}</td>
                    <td>{{agent.lastName}}</td>
                    <td>{{agent.phoneNumber}}</td>
                    <td>{{agent.email}}</td>
                    <td>{{agent.agentDetails.companyBranchDivision.company}}</td>
                    <td>{{agent.agentDetails.companyBranchDivision.id}} </td>
                    <td> {{agent.agentDetails.companyBranchDivision.branch}} </td>
                    <td> {{agent.agentDetails.companyBranchDivision.division}}</td>
                    <td style="min-width:180px;">
                        <div class="btn-group" role="group" ng-click="showAgentActionsModel(agent)">
                            <button
                                type="button"
                                class="btn btn-xs"
                                ng-class="agent.enabled ? 'btn-success' : 'btn-danger'"
                                title="Account enabled status"
                                >
                                <i class="fa fa-ban" ng-show="!agent.enabled"></i>
                                <i class="fa fa-check" ng-show="agent.enabled"></i>
                            </button>
                            <button
                                type="button"
                                class="btn btn-xs"
                                ng-class="agent.emailVerified ? 'btn-success' : 'btn-warning'"
                                title="Email verification">
                                <i class="fa fa-envelope"></i>
                            </button>
                            <button
                                type="button"
                                class="btn btn-xs"
                                ng-class="agent.phoneNumberVerified ? 'btn-success' : 'btn-warning'"
                                title="Phone number verification">
                                <i class="fa fa-phone"></i>
                            </button>

                            <button
                                type="button"
                                class="btn btn-xs"
                                ng-class="agent.passwordChangeRequired ? 'btn-warning' : 'btn-success'"
                                title="Password  status">
                                <i class="fa fa-key"></i>
                            </button>

                            <button
                                type="button"
                                class="btn btn-xs"
                                ng-class="agent.deviceLocked ? 'btn-success' : 'btn-warning'"
                                title="Device IMEI lock status">
                                <i class="fa fa-lock" ng-show="agent.deviceLocked"></i>
                                <i class="fa fa-unlock" ng-show="!agent.deviceLocked"></i>
                            </button>

                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- <div id="agent-actions" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Update Customer details</h4>
          </div>
          <div class="modal-body" style="padding: 0px;">
          </div>
        </div>
      </div>
    </div> -->


</div>
