<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Closed Cases</h3>
        </div>
        <div class="panel-body">
            <table ng-table="tableParams" class="table table-striped table-bordered table-hover" show-filter="true">

                <tr ng-repeat="case in closedCases">
                    <td data-title="'Case ID'"> {{case.id}}</td>
                    <td data-title="'Vehicle Number'" filter="{ name: 'text'}" sortable="'vehicleNumber'"> <a href="#/qc-check/{{case.id}}"><i class="fa fa-bus" aria-hidden="true"></i> {{case.vehicleNumber}}</a></td>
                    <td data-title="'Customer Name'"> {{case.customerName}}</td>
                    <td data-title="'Customer Phone Number'"><a href="tel:{{case.customerPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{case.customerPhoneNumber}}</a></td>
                    <td data-title="'Inspection Time'"> {{case.inspectionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td data-title="'Closed Time'"> {{case.closeTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>


            </table>
        </div>
    </div>
</div>
