<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Create case</h3>
	</div>
	<div class="panel-body">
      <div class="form-group has-feedback">
        <select class="form-control" ng-model="createCaseModel.purpose_of_inspection" ng-required="true">
          <option value="" disabled >Purpose Of Inspection</option>
          <option ng-repeat="item in poi" value="{{item.id}}" ng-selected="item.id === createCaseModel.purpose_of_inspection">{{item.name}}</option>
        </select>
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>
      <hr/>
      <div class="form-group has-feedback">
        <input onlylettersinput type="text" class="form-control" placeholder="Customer Name" ng-model="createCaseModel.customer_name" ng-required="true"/>
        <i class="glyphicon glyphicon-user form-control-feedback"></i>
      </div>
      <div class="form-group has-feedback">
        <input type="number" class="form-control" placeholder="Customer Phone Number" ng-model="createCaseModel.customer_phone_number" ng-required="true"/>
        <i class="glyphicon glyphicon-earphone form-control-feedback"></i>
      </div>
		<form name="create_case_form" ng-submit="createCase()">

			<div class="form-group has-feedback">
				<select class="form-control"
					ng-model="createCaseModel.purpose_of_survey" ng-required="true">
					<option value="" disabled>Purpose Of Survey</option>
					<option ng-repeat="item in poi" value="{{item.id}}"
						ng-selected="item.id === createCaseModel.purpose_of_survey">{{item.name}}</option>
				</select> <i class="glyphicon glyphicon-lock form-control-feedback"></i>
			</div>
			<hr />
			<div class="form-group has-feedback">
				<input type="text" class="form-control" placeholder="Customer Name"
					ng-model="createCaseModel.customer_name" ng-required="true" /> <i
					class="glyphicon glyphicon-user form-control-feedback"></i>
			</div>
			<div class="form-group has-feedback">
				<input type="text" class="form-control"
					placeholder="Customer Phone Number"
					ng-model="createCaseModel.customer_phone_number" ng-required="true" />
				<i class="glyphicon glyphicon-earphone form-control-feedback"></i>
			</div>

			<div class="form-group has-feedback">
				<input type="text" class="form-control" placeholder="Vehicle Number"
					ng-model="createCaseModel.vehicle_number" name="vehicle_number"
					ng-required="true" ng-trim="false" capitalize
					no-spaces="createCaseModel.vehicle_number" /> <i
					class="glyphicon glyphicon-bed form-control-feedback"></i>
			</div>
			<div class="form-group">
				<div flex layout="row" layout-align="center center">
					<md-radio-group ng-model="createCaseModel.inspection_type"
						layout="row"> <md-radio-button
						class="md-primary"
						ng-repeat="inspectionType in inspectionTypes | orderBy:'optionOrder'"
						ng-value="inspectionType.id">{{inspectionType.name}}</md-radio-button>
					</md-radio-group>
				</div>
			</div>
			<div style="margin-bottom: 20px;" ng-show="false">
				<div id="create-case-map" class="create-case-map"></div>
			</div>
			<div>

				<button class="btn btn-primary" type="submit">Create Case</button>
			</div>
		</form>
	</div>
</div>
