<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Create case</h3>
	</div>
	<div class="panel-body">
		<form name="create_case_form" ng-submit="createCase()">

			<div class="form-group has-feedback">
				<select class="form-control" ng-model="createCaseModel.company_name"
					ng-required="true" ng-change="getAgents(item.id)">
					<option value="" disabled>Select Company</option>
					<option ng-repeat="item in companies" value="{{item.id}}"
						ng-selected="item.id === createCaseModel.company_name">{{item.name}}</option>
				</select> <i class="glyphicon glyphicon-lock form-control-feedback"></i>
			</div>

			<div class="form-group has-feedback">
				<md-autocomplete
					ng-class="verifyAgentContactActive?'cc-agent-contact-verify':''"
					ng-disabled="verifyAgentContactActive" md-no-cache="noCache"
					md-selected-item="selectedItem"
					md-search-text-change="searchTextChange(searchText)"
					md-search-text="searchText"
					md-selected-item-change="selectedItemChange(item)"
					md-items="item in querySearch(searchText)"
					md-item-text="item.display" md-min-length="0" md-max-length="10"
					placeholder="Garage Phone Number"> <md-item-template>
				<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
				</md-item-template> <md-not-found> No agent record with "{{searchText}}"
				found. </md-not-found> </md-autocomplete>
			</div>

			<div class="form-group has-feedback">
				<select class="form-control"
					ng-model="createCaseModel.purpose_of_survey" ng-required="true">
					<option value="" disabled>Purpose Of Survey</option>
					<option ng-repeat="item in poi" value="{{item.id}}"
						ng-selected="item.id === createCaseModel.purpose_of_survey">{{item.name}}</option>
				</select> <i class="glyphicon glyphicon-lock form-control-feedback"></i>
			</div>
			<hr />
			<div class="form-group has-feedback">
				<input onlylettersinput type="text" class="form-control"
					placeholder="Customer Name"
					ng-model="createCaseModel.customer_name" ng-required="true" /> <i
					class="glyphicon glyphicon-user form-control-feedback"></i>
			</div>
			<div class="form-group has-feedback">
				<input type="number" class="form-control"
					placeholder="Customer Phone Number"
					ng-model="createCaseModel.customer_phone_number" ng-required="true" />
				<i class="glyphicon glyphicon-earphone form-control-feedback"></i>
			</div>

			<div class="form-group has-feedback">
				<input type="text" class="form-control" placeholder="Vehicle Number"
					ng-model="createCaseModel.vehicle_number" name="vehicle_number"
					ng-required="true" ng-trim="false" capitalize
					no-spaces="createCaseModel.vehicle_number" /> <i
					class="glyphicon glyphicon-bed form-control-feedback"></i>
			</div>

			<div class="form-group has-feedback">
				<input type="text" class="form-control" placeholder="Claim Number"
					ng-model="createCaseModel.claim_number" name="claim_number"
					ng-required="true" ng-trim="false" capitalize
					no-spaces="createCaseModel.claim_number" /> <i
					class="glyphicon glyphicon-bed form-control-feedback"></i>
			</div>
			<div class="form-group">
				<div flex layout="row" layout-align="center center">
					<md-radio-group ng-model="createCaseModel.inspection_type"
						layout="row"> <md-radio-button class="md-primary"
						ng-repeat="inspectionType in inspectionTypes | orderBy:'optionOrder'"
						ng-value="inspectionType.id">{{inspectionType.name}}</md-radio-button>
					</md-radio-group>
				</div>
			</div>
			<!--    <div class="form-group has-feedback" ng-show="createCaseModel.inspection_type=='SELF_INSPECT'">
        <input class="form-control"
          ng-model="ctrl.input"
          ng-model-options="{ updateOn: 'blur' }"
          placeholder="Select inspection time"
          moment-picker="createCaseModel.inspection_time"
        />
      </div>
      <div ng-show="createCaseModel.inspection_type=='SELF_INSPECT'">
        <input id="pac-input-create-case" class="form-control" placeholder="Inspection location" />
      </div>
      <div style="margin-bottom: 20px;" ng-show="createCaseModel.inspection_type=='SELF_INSPECT'">
        <div id="create-case-map" class="create-case-map"></div>
      </div> -->
			<div>
				<button class="btn btn-primary" type="submit">Create Case</button>
			</div>
		</form>
	</div>
</div>
