x`
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title">Cases pending for QC review</h3>
		</div>
		<!-- <div class="panel-body"> -->
		<div class="">
			<div class="row">
				<div class="col-md-4">
					<div ng-cloak
						style="padding-left: 15px; padding-top: 15px; padding-bottom: 5px;">
						<md-input-container class="md-block"> <label>Search
							Cases</label> <input ng-model="filter.case"> </md-input-container>
					</div>
				</div>
			</div>
			<table ng-table="allQCData"
				class="table table-striped table-bordered table-hover qc-review-table">
				<tr
					ng-repeat="qcCase in qcCases | orderBy:'flagStatus':true | filter: filter.case">
					<td data-title="'#'">{{$index + 1}}</td>
					<td data-title="'Case Id'">{{qcCase.id}}</td>
					<td data-title="'Company'" style="width: 1px"><img
						ng-src="util/company-image/{{qcCase.logoUrl}}" /></td>

					<td data-title="'Vehicle Number'"><a
						href="#/qc-check/{{qcCase.id}}"> <span ng-show="false">{{qcCase.vehicleType}}</span>
							<i class="fa fa-motorcycle" aria-hidden="true"
							ng-show="qcCase.vehicleType==='2-wheeler'"></i> <i
							class="fa fa-car" aria-hidden="true"
							ng-show="qcCase.vehicleType==='4-wheeler'"></i> <i
							class="fa fa-truck" aria-hidden="true"
							ng-show="qcCase.vehicleType==='commercial'"></i>
							{{qcCase.vehicleNumber}}
					</a></td>
					<td data-title="'Agent Contact'"><a
						href="tel:{{qcCase.customerPhoneNumber}}"><i
							class="fa fa-phone" aria-hidden="true"></i>
							{{qcCase.requestorPhoneNumber}}</a></td>
					<td data-title="'Branch'">{{qcCase.branch}}</td>
					<!-- <td data-title="'Creation Date & Time'">{{qcCase.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}</a></td> -->
					<td data-title="'Completion Date & Time'"
						class="{{qcCase.flagStatus}}">{{qcCase.inspectionSubmitTime |
						date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td data-title="'Inspection Type'">
						{{qcCase.inspectionTypeDisplay}}</td>
					<td data-title="'Purpose'">{{
						getPurposeOfSurvey(qcCase.purposeOfInspection).name }}</td>
					<td data-title="'Status'">
						<div style="text-align: center;">
							<i title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='recommended'"
								class="glyphicon glyphicon glyphicon-ok-sign set-green"></i> <i
								title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='not-recommended'"
								class="glyphicon glyphicon glyphicon-remove-sign set-red"></i> <i
								title="{{qcCase.comment}}" ng-if="qcCase.remark=='hold'"
								class="glyphicon glyphicon glyphicon-minus-sign set-yellow"></i>
							<i title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='underwriter'"
								class="glyphicon glyphicon glyphicon-info-sign set-orange"></i>
							<span title="{{qcCase.comment}}" ng-if="qcCase.remark==null">n/a</span>
						</div>
					</td>
					<td data-title="'Comments'" ng-click="showComments(qcCase)">
						{{qcCase.countComments}}</td>
					<td data-title="'Actions'" style="min-width: 90px;">
						<button title='Reopen Case for Inspection'
							class="btn btn-xs btn-warning" ng-click="reopenCase(qcCase)">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</button> <a title="Download uploaded zip" class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-photos/{{qcCase.downloadKey}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<a title="Retry to upload zip file" class="btn btn-xs btn-info"
						href="jadu-test/do-qc?case_id={{qcCase.id}}" target="_blank"><i
							class="fa fa-cloud-upload" aria-hidden="true"></i></a>
					</td>

				</tr>
			</table>
		</div>
	</div>
</div>


<div id="reopen-case-container" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Reopen Case for Inspection</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>

<div id="manual-qc-container3" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Comments</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>
