<div class="col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title">Scheduled Cases</h3>

			<div flex="" layout="row" layout-align="center center"
				class="layout-align-end-center layout-row flex">
				<h3 class="panel-title" >Initiate
					System Call  </h3>
				<md-radio-group ng-model="data.value" layout="row"
					ng-change="radioChanged(data.value)"> <md-radio-button
					value="self" class="md-primary"> Self</md-radio-button> <md-radio-button
					value="assign"> Assign to customer </md-radio-button> </md-radio-group>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div ng-cloak
						style="padding-left: 15px; padding-top: 15px; padding-bottom: 5px;">
						<md-input-container class="md-block"> <label>Search
							Cases</label> <input ng-model="filter.case"> </md-input-container>
					</div>
				</div>
			</div>
			<table ng-table="tableParams"
				class="table table-striped table-bordered table-hover">
				<tr ng-repeat="qcCase in qcCases | filter: filter.case">
					<td data-title="'#'">{{$index + 1}}</td>
					<td data-title="'Case ID'">{{qcCase.id}}</td>
					<td data-title="'Company'" style="width: 1px"><img
						ng-src="util/company-image/{{qcCase.logoUrl}}" /> <span
						style="display: none">{{qcCase.insuranceCompanyName}}</span></td>
					<td data-title="'Vehicle Number'"><i class="fa fa-bus"
						aria-hidden="true"></i> {{qcCase.vehicleNumber}}</td>
					<td data-title="'Type'">{{qcCase.inspectionTypeDisplay}}</td>
					<td data-title="'Agent Phone'"><a
						href="tel:{{qcCase.requestorPhoneNumber}}"><i
							class="fa fa-phone" aria-hidden="true"></i>
							{{qcCase.requestorPhoneNumber}}</a></td>

					<td data-title="'Customer Phone'"><a
						href="tel:{{qcCase.customerPhoneNumber}}"><i
							class="fa fa-phone" aria-hidden="true"></i>
							{{qcCase.customerPhoneNumber}}</a></td>
					<td data-title="'Inspection Time'" class="{{qcCase.flagStatus}}">
						{{qcCase.inspectionTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td data-title="'Edit Case'"><span
						class="glyphicon glyphicon-pencil btn btn-xs"
						ng-click="editCase(qcCase.id)"></span> <i class="fa fa-reply"
						aria-hidden="true" ng-click='moveToQC(qcCase.id)'
						title='Move to QC'></i></td>
					<td data-title="'Manual QC'">
						<!--<button class="btn btn-sm btn-primary" ng-click="manualQCInit(qcCase)">Manual QC</button>-->
						<button class="btn btn-sm btn-primary"
							ng-click="uploadInspectionFileModel(qcCase)">Upload</button>
					</td>

					<td data-title="'Comments'" ng-click="showComments(qcCase)">
						{{qcCase.countComments}}</td>

				</tr>


			</table>
		</div>
	</div>

	<div id="modal-2" class="modal fade" tabindex="-1" role="dialog"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Edit Case</h4>
				</div>
				<div class="modal-body">
					<table class="table table-condensed" style="width: 100%">
						<tr>
							<th>Case ID</th>
							<th>{{currentCase.id}}</th>
						</tr>
						<tr>
							<td>Customer Phone Number:</td>
							<td><input class="form-control pull-left" ng-cloak
								ng-model="newCaseData.newCustomerPhoneNumber"
								style="width: 250px"
								ng-value="newCaseData.newCustomerPhoneNumber">
								<!-- <button ng-cloak ng-click="updateCustomerPhoneNumber()" class="btn btn-primary pull-right" >Update</button> -->
							</td>
						</tr>
						<tr>
							<td>Agent Phone Number:</td>
							<td><input class="form-control pull-left" ng-cloak
								ng-model="newCaseData.newRequestorPhoneNumber"
								style="width: 250px"
								ng-value="newCaseData.newRequestorPhoneNumber">
								<!-- <button ng-cloak ng-click="updateRequestorPhoneNumber()" class="btn btn-primary pull-right" >Update</button> -->
							</td>
						</tr>
						<tr>
							<td>Vehicle Number:</td>
							<td><input class="form-control pull-left" ng-cloak
								ng-model="newCaseData.newVehicleNumber" style="width: 250px"
								ng-value="newCaseData.newVehicleNumber">
								<!-- <button ng-cloak ng-click="updateVehicleNumber()" class="btn btn-primary pull-right" >Update</button> -->
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button ng-cloak ng-click="updateCaseDetails()"
									class="btn btn-primary pull-right">Update Case
									Details</button>
							</td>
						</tr>
					</table>

					<reschedule-case inspection-case="currentCase"
						fetch-scheduled-cases="fetchScheduledCases()"
						callback="rescheduleCaseCallback()"></reschedule-case>

					<close-case inspection-case="currentCase"
						callback="closeCaseCallback()"></close-case>

					<table ng-show="enable_inspector" class="table table-condensed">
						<tr>
							<th colspan="2" class="alert alert-danger">Cancel Case</th>
						</tr>
						<tr>
							<td>Cancellation Reasons:</td>
							<td><select class="form-control"
								ng-model="currentCase.cancelReason" ng-required="true">
									<option value="" disabled>Cancellation reasons</option>
									<option ng-repeat="item in cancelReasons" value="{{item.id}}"
										ng-selected="item.id === currentCase.cancelReason">{{item.id}}</option>
							</select></td>
						</tr>
						<tr>
							<td colspan="2" style="text-align: right">
								<button type="button" ng-click="cancelCase()"
									class="btn btn-danger">Cancel Case</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

	</div>

	<!-- Modal -->
	<div id="timelineModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Case Timeline</h4>
				</div>
				<div class="modal-body">
					<!-- <div class="container"> -->
					<ul class="timeline">
						<li>
							<div class="timeline-badge">
								<i class="glyphicon glyphicon-check"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Mussum ipsum cacilds</h4>
									<p>
										<small class="text-muted"><i
											class="glyphicon glyphicon-time"></i> 11 hours ago via
											Twitter</small>
									</p>
								</div>
								<div class="timeline-body">
									<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
										adipiscings elitis. Pra lá , depois divoltis porris, paradis.
										Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
										nisi eros vermeio, in elementis mé pra quem é amistosis quis
										leo. Manduma pindureta quium dia nois paga. Sapien in monti
										palavris qui num significa nadis i pareci latim.
										Interessantiss quisso pudia ce receita de bolis, mais bolis eu
										num gostis.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-badge danger">
								<i class="glyphicon glyphicon-credit-card"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Mussum ipsum cacilds</h4>
								</div>
								<div class="timeline-body">
									<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
										adipiscings elitis. Pra lá , depois divoltis porris, paradis.
										Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
										nisi eros vermeio, in elementis mé pra quem é amistosis quis
										leo. Manduma pindureta quium dia nois paga. Sapien in monti
										palavris qui num significa nadis i pareci latim.
										Interessantiss quisso pudia ce receita de bolis, mais bolis eu
										num gostis.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-badge info">
								<i class="glyphicon glyphicon-floppy-disk"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Mussum ipsum cacilds</h4>
								</div>
								<div class="timeline-body">
									<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
										adipiscings elitis. Pra lá , depois divoltis porris, paradis.
										Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
										nisi eros vermeio, in elementis mé pra quem é amistosis quis
										leo. Manduma pindureta quium dia nois paga. Sapien in monti
										palavris qui num significa nadis i pareci latim.
										Interessantiss quisso pudia ce receita de bolis, mais bolis eu
										num gostis.</p>
									<hr>
									<div class="btn-group">
										<button type="button"
											class="btn btn-primary btn-sm dropdown-toggle"
											data-toggle="dropdown">
											<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Mussum ipsum cacilds</h4>
								</div>
								<div class="timeline-body">
									<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
										adipiscings elitis. Pra lá , depois divoltis porris, paradis.
										Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
										nisi eros vermeio, in elementis mé pra quem é amistosis quis
										leo. Manduma pindureta quium dia nois paga. Sapien in monti
										palavris qui num significa nadis i pareci latim.
										Interessantiss quisso pudia ce receita de bolis, mais bolis eu
										num gostis.</p>
								</div>
							</div>
						</li>
					</ul>
					<!-- </div> -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>


	<div id="manual-qc-container" class="modal fade" tabindex="-1"
		role="dialog" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Pick file for manual QC</h4>
				</div>
				<div class="modal-body" style="padding: 20px;"></div>
			</div>
		</div>
	</div>


	<div id="manual-qc-container3" class="modal fade" tabindex="-1"
		role="dialog" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Comments</h4>
				</div>
				<div class="modal-body" style="padding: 20px;"></div>
			</div>
		</div>
	</div>


	<div id="manual-qc-container2" class="modal fade" tabindex="-1"
		role="dialog" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Upload file for manual QC</h4>
				</div>
				<div class="modal-body" style="padding: 20px;">
					<form ng-submit="uploadFileManually()">
						<table class="table table-striped">
							<tr>
								<td><input type="file" accept=".zip" class="form-control"
									required="true" id="manualUploadFile" name="manualUploadFile" />
								</td>
							</tr>
							<tr>
								<td>
									<button class="btn btn-primary" type="submit">Upload
										Zip File</button>
								</td>
							</tr>
						</table>

					</form>




				</div>
			</div>
		</div>
	</div>


	<div id="move-to-qc" class="modal fade" tabindex="-1" role="dialog"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body" style="padding: 20px;">
					<table class='table table-striped'>
						<tr>
							<td>Select vehicle type:</td>
							<td><select class='form-control'
								ng-model='selectedCaseForQCVehicleType'
								ng-init="selectedCaseForQCVehicleType='2-wheeler'">
									<option value='' disabled>Select an option</option>
									<option ng-repeat='item in vehicleTypes' value='{{item.id}}'
										ng-selected='selectedCaseForQCVehicleType === item.id'>{{item.name}}</option>
							</select></td>

						</tr>
						<tr>
							<td colspan='2'>
								<button class='btn btn-success' ng-click="moveToQCSubmit()">Move
									to QC</button>
							</td>
						</tr>
						<tr>

						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
