/* Loader Styles */

.loader{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0, 0.6);
}

.loader > div{
    display: table-cell;
    vertical-align: middle;
}

.loader .loader-text{
    text-align: center;
    color: white;
}

.table-striped thead th{
    background-color: #00b8ce;
    color: white;
}

.vertical-menu{
    padding: 0px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    cursor: pointer;
}

.vertical-menu li{
    text-decoration: none;
        list-style: none;
        margin: 0px;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #00b8ce; /* Add a green color to the "active/current" link */
    color: white;
        white-space: nowrap;
}



::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #F5F5F5;
}

/**  STYLE 1 */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.fullscreen{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
}

.page-sidebar{
    width: 240px;
}


.modal-header{
    background-color: #00b8ce;
    color: white;
}

.rotate-image{
    transform: rotate(90deg);
}

.img-thumbnail{
    max-width: 150px;
}

/* #qc-check-container .modal-dialog {
    width:100% !important;
} */

#q-data{
    background-color: white;
    padding:4px;
    overflow:auto;
    border-radius:6px;
    min-height:400px;
}

.gallery li{
    display:inline
}

.gallery1 li:last-child img{
    transform: rotate(-90deg);
    height: 150px;
    margin-left: 30px;
    width:88.75px;
}

.cc-agent-contact-verify {
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

.create-case-map{
  min-height: 350px;
}
.allocation-map{
  min-height: 350px;
}

md-input-container {
  margin:0px !important;
}

.dashboard-panel{
  margin-bottom: 8px !important;
}

.dashboard-panel .panel-body{
  padding: 5px !important;
}

/* ui-grid Excel */

.ui-grid-dim {
    width: 100%;
    height: 501px;
  }

.ui-grid-viewport{
  overflow: auto !important;
}

md-list-item, md-list-item .md-list-item-inner{
  min-height:32px !important;
  max-height:32px !important;
}
/* ui-grid Excel -end */


.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }

#summary-containers h1 b{
  font-weight:400 ;
}

#summary-containers .panel-title{
  font-weight:600 ;
  font-size:15px ;
}

/******TImeline start */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 420px;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 0px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/******TImeline end */


/********* NOTIFICATION START **************/

.push-permission-container{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background: rgba(0, 0, 0, 0.2);
  width:100%;
  height:100%;
  z-index: 9999;
}

.push-permission{
  position: relative;
  margin:auto;
  top:30%;
  width:280px;
  height:120px;
  z-index:999;
  border:0px solid blue;
}

.notific-info{
  font-size: 10px;
  text-align: center;
  color:#90A4AE;
}

.greyed-out{
  background-color: rgba(158,158,158,0.2) !important;
}

.allow-highlight{
  background-color: rgba(239,83,80 ,1) !important;
}

.push-notification{
  position: fixed;
  bottom:0;
  right:0;
  /*width:280px;*/
  width:auto;
  /*height:120px;*/
  height:auto;
  margin: 10px;
  /*border:0px solid blue;*/
  z-index:999;
  /*display:none;*/
}

.push-card{
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.push-close{
  float:right;
  padding:4px;
  border-radius:10%;
  cursor: pointer;
}
.push-close:hover{
  background-color: #E91E63;
}
.push-close img{
  float: right;
}


.animate-hide {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  /*transition:all cubic-bezier(1.250, 1.250, 1.750, 1.750) 0s;*/
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  /*line-height:20px;*/
  opacity:1;
  /*padding:10px;*/
  /*border:1px solid black;*/
  /*background:white;*/
  /*position: absolute;*/
  /*left: 0;*/
}

.animate-hide.ng-hide {
  /*right: -200px;*/
  opacity:0;
  /*padding:0 10px;*/
}

/********* NOTIFICATION START END**************/

ul.main-menu > li > a{
    border-bottom: 1px solid black;
}

#chartContainer{
  width: 100% !important;
}

.progress-video{
  width: 100% !important;
}

/*******************QC REVIEW********/
.status-red{
  color:white;
  background-color: red;
}
.qc-review-table th{
  font-size:10px !important;
}

.a-status-red{
  background-color: #B71C1C;
  color: white;
}
.b-status-orange{
  background-color: #CDDC39;
  color: black;
}
.c-status-yellow{
  background-color: #CDDC39;
  color: black;
}
.d-status-green{
  background-color: #8BC34A;
  color: black;
}


/******************/

/*******Vechicle Details******/
.vehicle-meta-header{
  font-weight: 700;
  font-size:18px;
}
/*****************************/

/* .loading-img {
  background: transparent url('http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif') center no-repeat;
} */
.loading-img {
  background: transparent url('images/alarm.jpg') center no-repeat;
}

.case-photo-caption span {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.75), -0.4em 0 0 rgba(255, 255, 255, 0.75);
}

.case-photo-container{
  /* border:1px solid black;
  margin-bottom: 10px;
  text-align: center; */
}

.case-photo-loader{
  background: url('/jadu2/images/loading-text.gif') center center no-repeat !important;
}

.case-photo-title{
  padding-left:5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0px 6px 6px;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.md-autocomplete-suggestions-container{
 z-index:100000 !important; /* any number of choice > 1050*/
}

.pac-container {
    background-color: #FFF;
    z-index: 100000;
    position: fixed;
    display: inline-block;
    float: left;
}

.no-md-errors-spacer .md-errors-spacer{
  display: none;
}

.allocation-map{
  height:350px;
}

.vehicles-table{
  max-height: 300px;
  overflow-y: scroll;
}

iframe{
    width: 100%;
    min-height: 500px;
}