<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
    <div class="modal-content col-xs-8" uib-modal-transclude>
        
    </div>
    <div  id="q-data" class="q-data-pane col-xs-4" >
         
    </div>   
</div>
