<div class="col-xs-12" style='overflow-y: auto; background-color: white; '>
    <table class="table table-bordered">
        <tr ng-repeat="item in casePhotosCopy">
            <td style='max-width:300px;'>
                <img src={{item.url}}/>
            </td>
            <td>
                <select class="form-control"  ng-model="item.photoTypeUpdated">
                    <option value="{{photoType.id}}" ng-repeat="photoType in photoTypes" ng-select="photoType.id === item.photoTypeUpdated">{{photoType.name}}</option>
                    
                </select>
            </td>
        </tr>
    </table>
    <br  style='clear:both'/>
    <button class='btn btn-warning' ng-click='updateTag()' >Update Tags</button>
    <br/><br/>
</div>