<div>
	<div class="row">
		<div class="col-md-12">
			<span class="vehicle-meta-header">Accident Details</span>
			<div ng-show="!editMode" class="pull-right">
				<button class="btn btn-default" ng-click="toggleEditMode()">Edit</button>
			</div>
			<div ng-show="editMode" class="pull-right">
				<button class="btn btn-default" ng-click="toggleEditMode()">Close</button>
			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<table class="table table-stripped" ng-show="!editMode">
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Accident Location</th>
				<td>{{claimCase.accidentDetails.accidentLocation}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Accident Remarks</th>
				<td>{{claimCase.accidentDetails.accidentRemarks}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Location of Survey</th>
				<td>{{claimCase.accidentDetails.locationOfSurvey}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Other Remarks</th>
				<td>{{claimCase.accidentDetails.otherRemarks}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>License Number</th>
				<td>{{claimCase.accidentDetails.licenseNumber}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Date of Accident</th>
				<td>{{claimCase.accidentDetails.dateOfAccident|
					date:'yyyy-MM-dd HH:mm:ss'}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Date of Intimation</th>
				<td>{{claimCase.accidentDetails.dateOfIntimation|
					date:'yyyy-MM-dd HH:mm:ss'}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Date of Survey</th>
				<td>{{claimCase.accidentDetails.dateOfSurvey| date:'yyyy-MM-dd
					HH:mm:ss'}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Reported to Police</th>
				<td>{{claimCase.accidentDetails.reportedToPolice}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Police Station
					Name</th>
				<td>{{claimCase.accidentDetails.policeStationName}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Punchnama Carried
					Out?</th>
				<td>{{claimCase.accidentDetails.punchnamaCarriedOut}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Station Diary
					Entry Number</th>
				<td>{{claimCase.accidentDetails.stationDiaryEntryNumber}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Third Party Damage</th>
				<td>{{claimCase.accidentDetails.thirdPartyDamage}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Third Party Damage
					Remarks</th>
				<td>{{claimCase.accidentDetails.thirdPartyDamageRemarks}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Third Party Damage
					Type</th>
				<td>{{claimCase.accidentDetails.thirdPartyDamageType}}</td>
			</tr>
		</table>
		<form ng-show="editMode" ng-submit="update()">
			<table class="table table-stripped">
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Accident Location</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.accidentLocation" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Accident Remarks</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.accidentRemarks" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Other Remarks</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.otherRemarks" /></td>
				</tr>

				<tr>
					<th style='white-space: nowrap; width: 1px;'>Location of
						Survey</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.locationOfSurvey" /></td>
				</tr>

				<tr>
					<th style='white-space: nowrap; width: 1px;'>License Number</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.licenseNumber" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Date of Accident</th>
					<td><md-datepicker 
               ng-model = "claimCase.accidentDetails.dateOfAccident" 
               md-placeholder = "Enter date"></md-datepicker></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Date of Intimation</th>
					<td><md-datepicker 
               ng-model = "claimCase.accidentDetails.dateOfIntimation" 
               md-placeholder = "Enter date"></md-datepicker></td>


				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Date of Survey</th>

					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.dateOfSurvey" /></td>

				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Reported To
						Police</th>

					<td><md-input-container style="width:240px">
						<label>Status</label> <md-select
							ng-model="claimCase.accidentDetails.reportedToPolice"
							ng-change="setStateOptions()"> <md-option
							ng-repeat="company in claimsConfig.reportedToPolice | orderBy:'toString()'"
							ng-value="company.id"
							ng-selected="company.id==claimCase.accidentDetails.reportedToPolice?true:false">
						{{company.id}} </md-option> </md-select> </md-input-container></td>

				</tr>

				<tr>
					<th style='white-space: nowrap; width: 1px;'>Police Station
						Name</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.policeStationName" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Punchnama Carried
						Out?</th>

					<td><md-input-container style="width:240px">
						<label>Status</label> <md-select
							ng-model="claimCase.accidentDetails.punchnamaCarriedOut"
							ng-change="setStateOptions()"> <md-option
							ng-repeat="company in claimsConfig.puchnamaCarriedOut | orderBy:'toString()'"
							ng-value="company.id"
							ng-selected="company.id==claimCase.accidentDetails.punchnamaCarriedOut?true:false">
						{{company.id}} </md-option> </md-select> </md-input-container></td>


				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Station Diary
						Entry Number</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.stationDiaryEntryNumber" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Third Party
						Damage Remarks</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.accidentDetails.thirdPartyDamageRemarks" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Third Party
						Damage Type</th>
					<td><md-input-container style="width:240px">
						<label>Status</label> <md-select
							ng-model="claimCase.accidentDetails.thirdPartyDamageType"
							ng-change="setStateOptions()"> <md-option
							ng-repeat="company in claimsConfig.thirdPartyDamage | orderBy:'toString()'"
							ng-value="company.id"
							ng-selected="company.id==claimCase.accidentDetails.thirdPartyDamageType?true:false">
						{{company.id}} </md-option> </md-select> </md-input-container></td>


					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" ng-disabled="false"
							class="btn btn-primary pull-right">Submit</button>
					</td>
				</tr>






			</table>
		</form>
	</div>

	<div class="col-xs-5" style="overflow: auto; height: 630px;">
		<span ng-repeat="photo in claimCase.claimCasePhotos" class="ng-scope"
			aria-hidden="false" style="">

			<div ng-if="photo.photoType=='accident_details'">
				<img src="util/case-image/{{claimCase.id}}/{{photo.fileName}}"
					style="margin-bottom: 4%">
			</div>
		</span>
	</div>

</div>