<div>
	<div class="row">

		<div class="col-xs-12">
			<table>
				<tr>
					<td><select class="form-control"
						ng-model="vehiclePartParticularType.id" ng-required="true">
							<option
								ng-repeat="item in claimsConfig.vehiclePartParticularType"
								value="{{item.id}}"
								ng-show="item.partSideId == activeGroupData.partSideId">{{item.partParticularType}}</option>
					</select></td>
					<td style="width: 1px">
						<button class="btn btn-primary" ng-click="addRecordToAssessment()">Add+</button>
					</td>
					
					<td><textarea
							style="position: absolute; width: 350px; height: 78px; right: 22%; top: -118%;"
							ng-model="claimCase.assessmentSummary.remarks" placeholder="Review"></textarea>
							
					</td>
				</tr>
			</table>


		</div>
	</div>
	<div  class="col-xs-12">
	<table  ng-show="!editMode" class="table table-striped table-bordered">
		<thead>
			<td>Part</td>
			<td>Damage Type</td>
			<td>Repair Type</td>
			<td>Type</td>
			<td>Photo</td>
			<td>Action</td>

		</thead>
		<tbody>
			<tr ng-repeat="lossAssessment in claimCase.lossAssessments"
				ng-show="lossAssessment.vehiclePartParticularType.partSideId == activeGroupData.partSideId">
				<td>{{lossAssessment.vehiclePartParticularType.id}}</td>
				<td>{{lossAssessment.vehicleDamageType.id}}</td>
				<td>
					<select class="form-control"
					ng-model="lossAssessment.vehicleRepairType.id"
					ng-change="getcostconfigurationdata(claimCase.vehicleDetails.makeModelVariant.id,lossAssessment.vehiclePartParticularType.id,lossAssessment.vehicleRepairType.id,lossAssessment.vehicleDamageType.id)"
					ng-show="lossAssessment.vehicleDamageType.id==='Repair'">
						<option ng-repeat="item in claimsConfig.vehicleRepairType"
							value="{{item.id}}">{{item.repairType}}</option>
				</select> <select class="form-control"
					ng-model="lossAssessment.replacementProduct.id"
					ng-show="lossAssessment.vehicleDamageType.id==='Replacement'"
					ng-change="getcostconfigurationdata(claimCase.vehicleDetails.makeModelVariant.id,lossAssessment.vehiclePartParticularType.id,lossAssessment.replacementProduct.id,lossAssessment.vehicleDamageType.id)">
						<option ng-repeat="item in claimsConfig.replacementProduct"
							value="{{item.id}}">{{item.productName}}</option>
				</select>
				</td>
				<td>
					<table  class="table table-striped">
						<tr>
							<td>Type</td>
							<td>Cost</td>
							<td>GST</td>
							<td>DEP</td>
							<td>Tota</td>
						</tr>
						<tr>
							<td>Spare</td>
							<td>{{lossAssessment.partCost}}</td>
							<td>{{lossAssessment.gstRateForPart}}</td>
							<td>{{lossAssessment.depRateForPart}}</td>
							<td>{{calculateFinalTotal(lossAssessment.partCost,
								lossAssessment.depRateForPart, lossAssessment.gstRateForPart )
								| number:2}}</td>
						</tr>
						<tr>
							<td>Labour</td>
							<td>{{lossAssessment.labourCost}}</td>
							<td>{{lossAssessment.gstRateForLabour}}</td>
							<td>{{lossAssessment.depRateForLabour}}</td>
							<td>{{calculateFinalTotal(lossAssessment.labourCost,
								lossAssessment.depRateForLabour,
								lossAssessment.gstRateForLabour )}}</td>
						</tr>
						<tr>
							<td>Paint</td>
							<td>{{lossAssessment.paintCost}}</td>
							<td>{{lossAssessment.gstRateForPaint}}</td>
							<td>{{lossAssessment.gstRateForPaint}}</td>
							<td>{{calculateFinalTotal(lossAssessment.paintCost,
								lossAssessment.depRateForPaint, lossAssessment.gstRateForPaint
								)}}</td>
						</tr>
					</table>
					
				</td>
				<td><a ng-click="lossAssessmentPhotos(lossAssessment)">View</td>
				<td>
					<button class="btn btn-primary"
						ng-click="removeRecordToAssessment()">Remove</button>
						<button class="btn btn-primary"
						ng-click="toggleEditMode()">Edit</button>
				</td>
			</tr>

		</tbody>
		<button class="btn btn-primary" ng-click="update()">Save</button>
		<button type="submit" 
		ng-click="lossAssessmentPhoto(lossAssessment)"	class="btn btn-primary ">Add image</button>

	</table>
	<!-- <modal title="Login form" visible="showModal">
		<button type="submit" ng-disabled="false"
			class="btn btn-primary ">upload new image</button>
		<button type="submit" ng-disabled="false"
			class="btn btn-primary ">Add  existing image</button>

      </modal> -->
    </div>
		
		<table ng-show="editMode" class="table table-striped table-bordered">
			<thead>
				<td>Part</td>
				<td>Damage Type</td>
				<td>Repair Type</td>
				<td>Type</td>
				<td>Photo</td>
				<td>Edit</td>

			</thead>
			<tbody>
				<tr ng-repeat="lossAssessment in claimCase.lossAssessments"
					ng-show="lossAssessment.vehiclePartParticularType.partSideId == activeGroupData.partSideId">
					<td>{{lossAssessment.vehiclePartParticularType.id}}</td>
					<td><select class="form-control"
						ng-model="lossAssessment.vehicleDamageType.id" ng-required="true">
							<option ng-repeat="item in claimsConfig.vehicleDamageType"
								value="{{item.id}}">{{item.damageType}}</option>
					</select></td>
					<td><select class="form-control"
						ng-model="lossAssessment.vehicleRepairType.id"
						ng-change="getcostconfigurationdata(claimCase.vehicleDetails.makeModelVariant.id,lossAssessment.vehiclePartParticularType.id,lossAssessment.vehicleRepairType.id,lossAssessment.vehicleDamageType.id)"
						ng-show="lossAssessment.vehicleDamageType.id==='Repair'">
							<option ng-repeat="item in claimsConfig.vehicleRepairType"
								value="{{item.id}}">{{item.repairType}}</option>
					</select> <select class="form-control"
						ng-model="lossAssessment.replacementProduct.id"
						ng-show="lossAssessment.vehicleDamageType.id==='Replacement'"
						ng-change="getcostconfigurationdata(claimCase.vehicleDetails.makeModelVariant.id,lossAssessment.vehiclePartParticularType.id,lossAssessment.replacementProduct.id,lossAssessment.vehicleDamageType.id)">
							<option ng-repeat="item in claimsConfig.replacementProduct"
								value="{{item.id}}">{{item.productName}}</option>
					</select></td>
					<td>
						<table  class="table table-striped">
							<tr>
								<td>Type</td>
								<td>Cost</td>
								<td>GST</td>
								<td>DEP</td>
								<td>Total</td>
							</tr>
							<tr>
								<td>Spare</td>
								<td><input type="text" ng-model=lossAssessment.partCost
									class="form-control input-sm" /></td>
								<td><input type="text"
									ng-model=lossAssessment.gstRateForPart
									class="form-control input-sm" /></td>
								<td><input type="text"
									ng-model=lossAssessment.depRateForPart
									class="form-control input-sm" /></td>
								<td>{{calculateFinalTotal(lossAssessment.partCost,
									lossAssessment.depRateForPart, lossAssessment.gstRateForPart )
									| number:2}}</td>
							</tr>
							<tr>
								<td>Labour</td>
								<td><input type="text" ng-model=lossAssessment.labourCost
									class="form-control input-sm" /></td>
								<td><input type="text"
									ng-model=lossAssessment.gstRateForLabour
									class="form-control input-sm" /></td>
								<td><input type="text"
									ng-model=lossAssessment.depRateForLabour
									class="form-control input-sm" /></td>
								<td>{{calculateFinalTotal(lossAssessment.labourCost,
									lossAssessment.depRateForLabour,
									lossAssessment.gstRateForLabour )}}</td>
							</tr>
							<tr>
								<td>Paint</td>
								<td><input type="text" ng-model=lossAssessment.paintCost
									class="form-control input-sm" /></td>
								<td><input type="text"
									ng-model=lossAssessment.gstRateForPaint
									class="form-control input-sm" /></td>
								<td><input type="text"
									ng-model=lossAssessment.depRateForPaint
									class="form-control input-sm" /></td>
								<td>{{calculateFinalTotal(lossAssessment.paintCost,
									lossAssessment.depRateForPaint, lossAssessment.gstRateForPaint
									)}}</td>
							</tr>
						</table>
						
					</td>
					<td><a ng-click="lossAssessmentPhotos(lossAssessment)">Action</td>
					<td>
						<button class="btn btn-primary"
							ng-click="removeRecordToAssessment()">Remove</button>
							<button class="btn btn-primary"
							ng-click="toggleEditMode()">Edit</button>
					</td>
				</tr>

			</tbody>
			<button class="btn btn-primary" ng-click="update()">Save</button>
			

			<button type="submit" 
			ng-click="lossAssessmentPhoto(lossAssessment)"	class="btn btn-primary ">Add image</button>
	
		
		</table>
	</div>
</div>
