<div>
	<div class="row">
		<div class="col-md-12">
			<span class="vehicle-meta-header">Driver Details</span>
			<div ng-show="!editMode" class="pull-right">
				<button class="btn btn-default" ng-click="toggleEditMode()">Edit</button>
			</div>
			<div ng-show="editMode" class="pull-right">
				<button class="btn btn-default" ng-click="toggleEditMode()">Close</button>
			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<table class="table table-stripped" ng-show="!editMode">
			<tr>
				<th style='white-space: nowrap; width: 1px;'>License Type</th>
				<td>{{claimCase.driverDetails.licenseType}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Driver Name</th>
				<td>{{claimCase.driverDetails.driverName}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>License Number</th>
				<td>{{claimCase.driverDetails.licenseNumber}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Issue Date</th>
				<td>{{claimCase.driverDetails.issueDate| date:'yyyy-MM-dd
					HH:mm:ss'}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Expiry Date</th>
				<td>{{claimCase.driverDetails.expiryDate| date:'yyyy-MM-dd
					HH:mm:ss'}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Issuing Authority</th>
				<td>{{claimCase.driverDetails.issuingAuthority}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Badge Number</th>
				<td>{{claimCase.driverDetails.badgeNumber}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>License
					Endorsement</th>
				<td>{{claimCase.driverDetails.licenseEndorsement}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Remarks</th>
				<td>{{claimCase.driverDetails.remarks}}</td>
			</tr>

		</table>
		<form ng-show="editMode" ng-submit="update()">
			<table class="table table-stripped">

				 
				<tr>
					<th style='white-space: nowrap; width: 1px;'>License Type</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.driverDetails.licenseType" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Driver Name</th>
					<td><input type="text" class="form-control"
						ng-model="newDriverData.driverName" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>License Number</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.driverDetails.licenseNumber" /></td>
				</tr>
				<tr>
						<th style='white-space: nowrap; width: 1px;'>Issue Date</th>
					<td><md-datepicker 
						ng-model="claimCase.driverDetails.issueDate" 
               md-placeholder = "Enter date"></md-datepicker></td>
				</tr>
				<tr>
              	<th style='white-space: nowrap; width: 1px;'>Expory Date</th>
						<td><md-datepicker 
							ng-model="claimCase.driverDetails.expiryDate" 
				   md-placeholder = "Enter date"></md-datepicker></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Badge Number</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.driverDetails.badgeNumber" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>License
						Endorsement</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.driverDetails.licenseEndorsement" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Issuing Authority</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.driverDetails.issuingAuthority" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Remarks</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.driverDetails.remarks" /></td>
				</tr>

				<tr>
					<td colspan="2">
						<button type="submit" ng-disabled="false"
							class="btn btn-primary pull-right">Submit</button>
					</td>
				</tr>
			</table>
		</form>
	</div>

	<div class="col-xs-5" style="overflow: auto; height: 630px;">
		<span ng-repeat="photo in claimCase.claimCasePhotos" class="ng-scope"
			aria-hidden="false" style="">
			<div ng-if="photo.photoType=='driver_details'">
				<img src="util/case-image/{{claimCase.id}}/{{photo.fileName}}"
					style="margin-bottom: 4%">
			</div>
		</span>
	</div>
</div>