<div>
	<div class="row">
		<div class="col-md-12">
			<span class="vehicle-meta-header">Insurance Details</span>
			<div ng-show="!editMode" class="pull-right">
				<button class="btn btn-default" ng-click="toggleEditMode()">Edit</button>
			</div>
			<div ng-show="editMode" class="pull-right">
				<button class="btn btn-default" ng-click="toggleEditMode()">Close</button>
			</div>
		</div>
	</div>

	<div ng-show="!editMode" class="col-xs-6">
		<table class="table table-stripped">
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Insurer</th>
				<td>{{claimCaseMasterData.insuranceDetails.insurer.name}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Financer</th>
				<td>{{claimCaseMasterData.insuranceDetails.financer}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Policy Number</th>
				<td>{{claimCaseMasterData.insuranceDetails.policyNumber}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Insured Name</th>
				<td>{{claimCaseMasterData.insuranceDetails.insuredName}}</td>
			</tr>

			<tr>
				<th style='white-space: nowrap; width: 1px;'>Insured Address</th>
				<td>{{claimCaseMasterData.insuranceDetails.insuredAddress}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Insured Mobile No</th>
				<td>{{claimCaseMasterData.insuranceDetails.insuredMobileNumber}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Sum Insured</th>
				<td>{{claimCaseMasterData.insuranceDetails.sumInsured}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>IDV</th>
				<td>{{claimCaseMasterData.insuranceDetails.idv}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Policy Start Date</th>
				<td>{{claimCaseMasterData.insuranceDetails.startDate|
					date:'yyyy-MM-dd'}}</td>
			</tr>
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Policy End Date</th>
				<td>{{claimCaseMasterData.insuranceDetails.endDate|
					date:'yyyy-MM-dd HH:mm:ss'}}</td>
			</tr>
			
			<tr>
				<th style='white-space: nowrap; width: 1px;'>Remarks</th>
				<td>{{claimCaseMasterData.insuranceDetails.remarks}}</td>
			</tr>
		 
			
		</table>

	</div>

	<div class="col-xs-6" ng-show="editMode">
		<form ng-submit="update()">
			<table class="table table-stripped">
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Insurer</th>
					<td> 
				 
						<md-input-container style="width:240px"> <label>Company</label>
								<md-select ng-model="claimCase.insuranceDetails.insurer.id"
									ng-change="setStateOptions()"> <md-option
									ng-repeat="company in claimsConfig.insuranceCompanylist | orderBy:'toString()'"
									ng-value="company.id"
									ng-selected="company.id==claimCase.insuranceDetails.insurer.id?true:false">
								{{company.name}} </md-option> </md-select> </md-input-container>
						
						
						</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Financer</th>
					<td><input type="text" ng-disabled="vahanChasisNumber"
						class="form-control"
						ng-model="claimCase.insuranceDetails.financer" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Policy Number</th>
					<td><input type="text" ng-disabled="vahanVinPlateNumber"
						class="form-control"
						ng-model="claimCase.insuranceDetails.policyNumber" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Insured Name</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.insuranceDetails.insuredName" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Sum Insured</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.insuranceDetails.sumInsured" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>IDV</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.insuranceDetails.idv" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Insured Address</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.insuranceDetails.insuredAddress" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Insured Mobile No</th>
					<td><input type="text" class="form-control"
						ng-model="claimCase.insuranceDetails.insuredMobileNumber" /></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>policy Start date</th>
					<td><md-datepicker 
               ng-model = "myDate" 
               md-placeholder = "Enter date"></md-datepicker></td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>policy End date</th>
					<td><md-datepicker 
               ng-model = "myDate" 
               md-placeholder = "Enter date"></md-datepicker></td>
				</tr>
			
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Remarks</th>
					<td><input type="textarea" class="form-control"
						ng-model="claimCase.insuranceDetails.remarks" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" ng-disabled="false"
							class="btn btn-primary pull-right">Submit</button>
					</td>
				</tr>
			</table>
		</form>
	</div>


	<div class="col-xs-5" style="overflow: auto; height: 630px;">
		<span ng-repeat="photo in claimCase.claimCasePhotos" class="ng-scope"
			aria-hidden="false" style="">

			<div ng-if="photo.photoType=='insurance_details'">
				<img src="util/case-image/{{claimCase.id}}/{{photo.fileName}}"
					style="margin-bottom: 4%">
			</div>
		</span>
	</div>
</div>