<div>
    <div class="row">
        <div class="col-md-12">
            <span class="vehicle-meta-header">Assessment Summary
                Details</span>
            <div ng-show="!editMode" class="pull-right">
                <button class="btn btn-default"
                        ng-click="toggleEditMode()">Edit</button>
            </div>
            <div ng-show="editMode" class="pull-right">
                <button class="btn btn-default"
                        ng-click="toggleEditMode()">Close</button>
            </div>
        </div>
    </div>

    <div ng-show="!editMode" class="col-xs-10"
         style="display: -webkit-box">
        <table class="table table-stripped">

            <tr>
                <th style='white-space: nowrap; width: 1px;'>Total Labour Charges</th>
                <td>{{claimCase.assessmentSummary.totalLabourCharges| number:2}}</td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Supplementary Labour Charge</th>
                <td>{{claimCase.assessmentSummary.supplementryLabourCharges|number:2}}</td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Total Part Charge</th>
                <td>{{claimCase.assessmentSummary.totalPartCharges|number:2}}</td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Supplementary Part Charge</th>
                <td>{{claimCase.assessmentSummary.supplementryPartCharges|number:2}}</td>
            </tr>
            
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Total Paint Cost</th>
                <td>{{claimCase.assessmentSummary.totalPaintCost|number:2}}</td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Supplementary Paint Cost</th>
                <td>{{claimCase.assessmentSummary.supplementaryPaintCost|number:2}}</td>
            </tr>
            
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Less Excess</th>
                <td>{{claimCase.assessmentSummary.lessExcess| number:2}}</td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Less Salavage</th>
                <td>{{claimCase.assessmentSummary.lessSalavage| number:2}}</td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Total</th>
                <td>{{claimCase.assessmentSummary.total| number:2}}</td>
            </tr>
        </table>
    </div>
    <form ng-show="editMode" ng-submit="update()">
        <table class="table table-stripped">
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Labour Charges</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.totalLabourCharges" /></td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Supplementary labour charges</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.supplementryLabourCharges" /></td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Total part costs</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.totalPartCharges" disable /></td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Supplementary part costs</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.supplementryPartCharges" disable /></td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Total paint cost</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.totalPaintCost" disable /></td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Supplementary paint cost</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.supplementaryPaintCost" disable /></td>
            </tr>
            
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Less excess</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.lessExcess" /></td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Less salvage</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.lessSalavage" /></td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Remarks</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.remarks" /></td>
            </tr>
            <tr>
                <th style='white-space: nowrap; width: 1px;'>Total</th>
                <td><input type="text" class="form-control"
                           ng-model="claimCase.assessmentSummary.total" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" ng-disabled="false"
                            class="btn btn-primary pull-right">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>