<div>
	<div class="row">
		<div class="col-md-12">
			<span class="vehicle-meta-header">Vehicle Details</span>
			<div ng-show="!editMode" class="pull-right">
				<button class="btn btn-default" ng-click="toggleEditMode()">Edit</button>
			</div>
			<div ng-show="editMode" class="pull-right">
				<button class="btn btn-default" ng-click="toggleEditMode()">Close</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table ng-show="!editMode" class="table table-stripped">
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Date of
						registration</th>
					<td>{{claimCase.vehicleDetails.dateOfRegistration}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Register owner
						name</th>
					<td>{{claimCase.vehicleDetails.registeredOwnerName}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Valid Upto</th>
					<td>{{claimCase.vehicleDetails.validUpto}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Tax Paid Upto</th>
					<td>{{claimCase.vehicleDetails.taxPaidUpto}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Chassis Number</th>
					<td>{{claimCase.vehicleDetails.chassisNumber}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Engine Number</th>
					<td>{{claimCase.vehicleDetails.engineNumber}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Permit Number</th>
					<td>{{claimCase.vehicleDetails.permitNumber}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Permit Type</th>
					<td>{{claimCase.vehicleDetails.vehiclePermitType.permitType}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Body Type</th>
					<td>{{claimCase.vehicleDetails.vehicleBodyType.bodyType}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Fitness
						Certification Number</th>
					<td>{{claimCase.vehicleDetails.fitnessCertificateNumber}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Passenger
						Carrying Capacity</th>
					<td>{{claimCase.vehicleDetails.passengerCarryingCapacity}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Remarks</th>
					<td>{{claimCase.vehicleDetails.remarks}}</td>
				</tr>

				<tr>
					<th style='white-space: nowrap; width: 1px;'>Vehicle Number</th>
					<td>{{claimCase.vehicleNumber}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Type</th>
					<td>{{claimCase.vehicleDetails.makeModelVariant.type}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Make</th>
					<td>{{claimCase.vehicleDetails.makeModelVariant.make}}</td>
				</tr>
				<tr>
					<th style='white-space: nowrap; width: 1px;'>Model</th>
					<td>{{claimCase.vehicleDetails.makeModelVariant.model}}</td>
				</tr>

				<tr>
					<th style='white-space: nowrap; width: 1px;'>Variant</th>
					<td>{{claimCase.vehicleDetails.makeModelVariant.variant}}</td>
				</tr>
			</table>
			<form ng-show="editMode" ng-submit="update()"
				ng-init="newVehicleData">
				<table class="table table-stripped">
					<tr>
							<th style='white-space: nowrap; width: 1px;'>Date of registration</th>
					<td><md-datepicker 
						ng-model="claimCase.vehicleDetails.dateOfRegistration"
               md-placeholder = "Enter date"></md-datepicker></td>
					</tr>

					<tr>
						<th style='white-space: nowrap; width: 1px;'>Registered owner
							name</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.registeredOwnerName" /></td>
					</tr>

					<tr>
						<th style='white-space: nowrap; width: 1px;'>Valid Upto</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.validUpto" /></td>
					</tr>

					<tr>
						<th style='white-space: nowrap; width: 1px;'>Tax Paid Upto</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.taxPaidUpto" /></td>
					</tr>
					<tr>
						<th style='white-space: nowrap; width: 1px;'>Chassis Number</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.chassisNumber" /></td>
					</tr>
					<tr>
						<th style='white-space: nowrap; width: 1px;'>Engine Number</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.engineNumber" /></td>
					</tr>



					<tr>
						<th style='white-space: nowrap; width: 1px;'>Permit Number</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.permitNumber" /></td>
					</tr>

					<tr>
						<th style='white-space: nowrap; width: 1px;'>Permit Type</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.vehiclePermitType.permitType" /></td>
					</tr>
					<tr>
						<th style='white-space: nowrap; width: 1px;'>Body Type</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.vehicleBodyType.bodyType" /></td>
					</tr>
					<tr>
						<th style='white-space: nowrap; width: 1px;'>Fitness
							Certification Number</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleDetails.fitnessCertificateNumber" /></td>
					</tr>
					<tr>
						<th style='white-space: nowrap; width: 1px;'>Passenger
							Carrying Capacity</th>
						<td><md-input-container style="width:240px">
							<label>Status</label> <md-select
								ng-model="claimCase.vehicleDetails.passengerCarryingCapacity"
								ng-change="setStateOptions()"> <md-option
								ng-repeat="company in claimsConfig.passengerCarryingCapacity | orderBy:'toString()'"
								ng-value="company.id"
								ng-selected="company.id==claimCase.accidentDetails.thirdPartyDamageType?true:false">
							{{company.id}} </md-option> </md-select> </md-input-container></td>
					</tr>
					<tr>
						<th style='white-space: nowrap; width: 1px;'>Remarks</th>
						<td><input type="text" class="form-control"
							ng-value="claimCase.remarks"
							ng-model="claimCase.vehicleDetails.remarks" /></td>
					</tr>
					<tr>
						<th style='white-space: nowrap; width: 1px;'>Vehicle Number</th>
						<td><input type="text" class="form-control"
							ng-model="claimCase.vehicleNumber" /></td>
					</tr>
					<tr>
						<th style='white-space: nowrap; width: 1px;'>Type</th>
						<td><md-input-container style="width:240px">
							<label>Type</label> <md-select
								ng-model="claimCase.vehicleDetails.makeModelVariant.id"
								ng-change="setStateOptions()"> <md-option
								ng-repeat="company in claimsConfig.makeModelVariant | orderBy:'toString()'"
								ng-value="company.id"
								ng-selected="company.type==claimCase.vehicleDetails.makeModelVariant.type?true:false">
							{{company.type}} </md-option> </md-select> </md-input-container></td>
					</tr>

					<tr>
						<th style='white-space: nowrap; width: 1px;'>Make</th>
						<td><md-input-container style="width:240px">
							<label>Type</label> <md-select
								ng-model="claimCase.vehicleDetails.makeModelVariant.make"
								ng-change="setStateOptions()"> <md-option
								ng-repeat="company in claimsConfig.makeModelVariant | filter : claimCase.vehicleDetails.makeModelVariant.type"
								ng-value="company.make"
								ng-selected="company.make==claimCase.vehicleDetails.makeModelVariant.make?true:false  ">
							{{company.make}} </md-option> </md-select> </md-input-container></td>

					</tr>

					<tr>
						<th style='white-space: nowrap; width: 1px;'>Model</th>
						<td><md-input-container style="width:240px">
							<md-select
								ng-model="claimCase.vehicleDetails.makeModelVariant.model"
								ng-change="setStateOptions()"> <md-option
								ng-repeat="company in claimsConfig.makeModelVariant | filter : claimCase.vehicleDetails.makeModelVariant.type"
								ng-value="company.model"
								ng-selected="company.model==claimCase.vehicleDetails.makeModelVariant.model?true:false  ">
							{{company.model}} </md-option> </md-select> </md-input-container></td>
					</tr>

					<tr>
						<th style='white-space: nowrap; width: 1px;'>Variant</th>
						<td><md-input-container style="width:240px">
							<md-select
								ng-model="claimCase.vehicleDetails.makeModelVariant.variant"
								ng-change="setStateOptions()"> <md-option
								ng-repeat="company in claimsConfig.makeModelVariant | filter : claimCase.vehicleDetails.makeModelVariant.type"
								ng-value="company.variant"
								ng-selected="company.variant==claimCase.vehicleDetails.makeModelVariant.variant?true:false  ">
							{{company.variant}} </md-option> </md-select> </md-input-container></td>
					</tr>




					<tr>
						<td colspan="2">
							<button type="submit" ng-disabled="false"
								class="btn btn-primary pull-right">Submit</button>
						</td>
					</tr>
				</table>
			</form>

		</div>
		<div class="col-xs-5" style="overflow: auto; height: 630px;">
			<span ng-repeat="photo in claimCase.claimCasePhotos" class="ng-scope"
				aria-hidden="false" style="">
				<div ng-if="photo.photoType=='vehicle_details'">
					<img ng-src="util/case-image/{{claimCase.id}}/{{photo.fileName}}"
						style="margin-bottom: 4%">
				</div>

			</span>
		</div>
	</div>
</div>