<div class="col-xs-12" style='overflow-y: auto; background-color: white; '>
    <table class="table table-bordered">
        <tr ng-repeat="item in ImageURLS">
            <td style='max-width:200px;'>
                <img src="{{item.url}}"/>
            </td>
            <td>{{item.name}}</td><td>
        </tr>
    </table>
    <br  style='clear:both'/>
    <button class='btn btn-warning' ng-click='updateTag()' >Update Tags</button>
    <br/><br/>
</div>